{% extends "base.html" %}
{% block title %}Tarefas{% endblock %}

{% block content %}
<div class="container mx-auto p-8 bg-white rounded-xl shadow-lg mt-8 font-poppins max-w-3xl">

  <div class="mb-6">
    <h1 class="text-3xl font-bold">Minhas Tarefas</h1>
    <p class="text-gray-600 text-sm">Olá, {{ user.name }}!</p>
      
      <p class="text-gray-600 text-sm">Aqui estão suas tarefas:</p>
  </div>

  <ul class="space-y-6">
    {% for task in tasks %}
      <li class="border border-gray-200 rounded-md p-4 hover:bg-gray-100 transition">
        
        <h1>
          <a href="{%url 'project-detail' task.project.pk%}" class="text-indigo-600 hover:underline">{{ task.project.name }}</a>
        </h1>

        <h2 class="text-xl font-semibold">
          <a href="{% url 'task-detail' task.pk %}" class="text-indigo-600 hover:underline">{{ task.name }}</a>
        </h2>
        <p class="text-gray-600 mt-1">Criada por: {{task.owner}}</p>
        <p class="text-gray-600 mt-1">Status: {{ task.get_status_display }}</p>
        <div class="mt-3 flex flex-wrap gap-4">
          {% if task.status != 'completed' and                                                                                    task.status != 'canceled'  %}
            <a href="{% url 'task-complete' task.pk %}" class="bg-green-600 hover:bg-green-700 text-white rounded px-4 py-2 transition">Concluir</a>
          {% endif %}

          {% if task.status != 'canceled' %}
            <a href="{% url 'task-cancel' task.pk %}" class="bg-red-600 hover:bg-red-700 text-white rounded px-4 py-2 transition">Cancelar</a>
          {% endif %}

          {% if task.status != 'in_progress' %}
            <a href="{% url 'task-reopen' task.pk %}" class="bg-yellow-500 hover:bg-yellow-600 text-white rounded px-4 py-2 transition">Reabrir</a>
          {% endif %} 
          
          {% if task.owner == request.user %}
            <a href="{% url 'task-update' task.pk %}" class="bg-gray-600 hover:bg-gray-700 text-white rounded px-4 py-2 transition">
              Editar
            </a>
          {% endif %}
        </div>
      </li>
    {% empty %}
      <li class="text-gray-600">Nenhuma tarefa cadastrada.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
